<div id="app">
  <div id="ship_container">
    <!-- Navigation Links -->
    <navigation position="top"></navigation>
    <navigation position="left"></navigation>
    <navigation position="right"></navigation>
    <navigation position="bottom"></navigation>

    <!-- Central Console Images -->
    <%= image_tag "nav-dial.png", id: "nav_dial" %>
    <%= image_tag "ship.png", id: "ship" %>

    <!-- Ship Resources -->
  </div>
</div>
