<div id="app">
  <div id="ship_container">
    <!-- Navigation Links -->
    <navigation position="top"></navigation>
    <navigation position="left"></navigation>
    <navigation position="right"></navigation>
    <navigation position="bottom"></navigation>

    <!-- Central Console Images -->
    <%= image_tag "nav-dial.png", id: "nav_dial" %>
    <%= image_tag "ship.png", id: "ship" %>

    <!-- Ship Resources -->
    <div id="outer_resources">
      <div id="resources">
        <div id="currency">

        </div>
        <div id="he3">

        </div>
      </div>
    </div>
    <div id="crystal_container">
      <div id="crystals">

      </div>
    </div>
  </div> <!-- End #ship_container -->

  <!-- System Objects -->
  <div id="system">

  </div>

  <!-- Planets -->
  <!-- <planet class="planets" id="planet1"></planet>
  <planet class="planets" id="planet2"></planet>
  <planet class="planets" id="planet3"></planet>
  <planet class="planets" id="planet4"></planet> -->

  <!-- Game Messaging -->
  <div id="messaging"></div>
</div> <!-- End #app -->
