@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 36px
}

nav div {
  display: inline-block;
  margin: 0 10px;
}

h1 {
  display: inline-block;
  margin: 0 10px;
}

hr {
  margin: 0;
}

#page_container {
  position: relative;
  height: calc(100% - 36px);
  width: 100%;
}

#ship_container {
  position: absolute;
  height: 250px;
  width: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}

#top_nav {
  top: 0px;
  left: 50px;
  height: 50px;
  width: 150px;
}

#bottom_nav {
  bottom: 0px;
  left: 50px;
  height: 50px;
  width: 150px;
}

#left_nav {
  left: 0px;
  top: 50px;
  height: 150px;
  width: 50px;
}

#right_nav {
  right: 0px;
  top: 50px;
  height: 150px;
  width: 50px;
}

.nav_links {
  position:absolute;
  display: block;
  text-align: center;
  cursor: pointer;
}

.direction_guides {
  position: absolute;
  text-align: center;
  width: 150px;
}

#top_guide {
  bottom: 50px;
}

#right_guide {
  top: 61px;
  left: -11px;
  transform: rotate(90deg);
}

#bottom_guide {
  top: 50px;
}

#left_guide {
  top: 61px;
  right: -11px;
  transform: rotate(-90deg);
}

#nav_dial {
  position: relative;
  right: 2px;
  bottom: 2px;
  z-index: -1;
}

#ship {
  position: absolute;
  top: 50px;
  left: 53px;
  height: 140px;
  width: 140px;
}

#outer_resources {
  position: relative;
  width: 350px;
  top: 40px;
  right: 50px;
}

#resources {
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 18pt;
  color: #FDFD98;
}

#he3 {
  margin-left: 20px;
  width: 155px;
}

#currency {
  position: relative;
  top: 2px;
  font-size: 20pt;
  margin-right: 20px;
  width: 155px;
  text-align: right;
}

#crystal_container {
  display: none;
}

#crystals {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  max-width: 350px;
  border: 3px solid rgb(68, 135, 175);
  border-radius: 15px;
  background-color: rgba(255,255,255,0.25);
}

.planets {
  position: absolute;
  display: none;
  width: 30%;
  height: 40%;
  max-width: 450px;
  padding: 10px;
  border: 3px solid rgb(68, 135, 175);
  border-radius: 25px;
  background-color: rgba(255,255,255,0.25);
}

#planet1 {
  top: 20px;
  left: 20px;
}

#planet2 {
  top: 20px;
  right: 20px;
}

#planet3 {
  bottom: 20px;
  right: 20px;
}

#planet4 {
  bottom: 20px;
  left: 20px;
}

.button_container {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.buttons {
  position: relative;
  background-color: #779ECB;
  color: #2A508B;
  font-size: 14pt;
  cursor: pointer;
  margin-right: 5px;
  z-index: 1;
}

.buttons:hover {
  background-color: #2A508B;
  color: #779ECB;
}

.mine_container {
  display: none;
  height: 54px;
}

.mine_price {
  position: relative;
  color: #FE6B64;
  left: 25px;
}

.investigate_container {
  display: none;
  height: 54px;
}

.investigate_price {
  position: relative;
  color: #FE6B64;
  left: 45px;
}

.collect {
  display: none;
}

.image_container {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.planets img {
  position: relative;
  max-height: 250px;
  max-width: 250px;
  z-index: 1;
}

#system {
  position: absolute;
  top: 56px;
  left: 40%;
  width: 20%;
  text-align: center;
  border: 3px solid rgb(68, 135, 175);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

#system h2 {
  margin: 0;
  padding: 4px;
}
