@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 36px
}

nav div {
  display: inline-block;
  margin: 0 10px;
}

h1 {
  display: inline-block;
  margin: 0 10px;
}

hr {
  margin: 0;
}

#page_container {
  position: relative;
  height: calc(100% - 36px);
  width: 100%;
}

#ship_container {
  position: absolute;
  height: 250px;
  width: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}

#top_nav {
  top: 0px;
  left: 50px;
  height: 50px;
  width: 150px;
}

#bottom_nav {
  bottom: 0px;
  left: 50px;
  height: 50px;
  width: 150px;
}

#left_nav {
  left: 0px;
  top: 50px;
  height: 150px;
  width: 50px;
}

#right_nav {
  right: 0px;
  top: 50px;
  height: 150px;
  width: 50px;
}

.nav_links {
  position:absolute;
  display: block;
  text-align: center;
}

.direction_guides {
  position: absolute;
  text-align: center;
  width: 150px;
}

#top_guide {
  bottom: 260px;
  left: 50px;
}

#right_guide {
  left: 200px;
  top: 112px;
  transform: rotate(90deg);
}

#bottom_guide {
  top: 260px;
  left: 50px;
}

#left_guide {
  right: 200px;
  top: 112px;
  transform: rotate(-90deg);
}

#nav_dial {
  position: relative;
  right: 2px;
  bottom: 2px;
  z-index: -1;
}

#ship {
  position: absolute;
  top: 50px;
  left: 53px;
  height: 140px;
  width: 140px;
}

#outer_resources {
  position: relative;
  width: 350px;
  top: 40px;
  right: 50px;
}

#resources {
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 18pt;
  color: #FDFD98;
}

#he3 {
  margin-left: 20px;
  width: 155px;
}

#currency {
  position: relative;
  top: 2px;
  font-size: 20pt;
  margin-right: 20px;
  width: 155px;
  text-align: right;
}

.planets {
  position: absolute;
  width: 30%;
  height: 40%;
  max-width: 450px;
  padding: 10px;
  border: 3px solid rgb(68, 135, 175);
  border-radius: 25px;
  background-color: rgba(255,255,255,0.25)
}

#planet1 {
  top: 20px;
  left: 20px;
}

#planet2 {
  top: 20px;
  right: 20px;
}

#planet3 {
  bottom: 20px;
  right: 20px;
}

#planet4 {
  bottom: 20px;
  left: 20px;
}

.button_container {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.buttons {
  position: relative;
  background-color: #779ECB;
  color: #2A508B;
  font-size: 14pt;
  cursor: pointer;
  margin-right: 5px;
  z-index: 1;
}

.buttons:hover {
  background-color: #2A508B;
  color: #779ECB;
}

.mine {
  display: none;
}

.investigate {
  display: none;
}

.image_container {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.planets img {
  position: relative;
  max-height: 250px;
  max-width: 250px;
  z-index: 1;
}

#system {
  position: absolute;
  top: 20px;
  left: 40%;
  width: 20%;
  text-align: center;
  border: 3px solid rgb(68, 135, 175);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

#system h2 {
  margin: 0;
  padding: 4px;
}

#messaging {
  border: 1px solid red;
  position: absolute;
  top: 110px;
  left: 40%;
  width: 20%;
  text-align: center;
  border: 3px solid rgb(68, 135, 175);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background-color: rgba(255, 255, 255, 0.0);
    amimation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background-color: rgba(255, 255, 255, 1);
    amimation-timing-function: ease-out;
  }
  80% {
    background-color: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background-color: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}
