@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  border: 1px solid red;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 36px
}

nav div {
  display: inline-block;
}

h1 {
  display: inline-block;
  margin: 0;
}

hr {
  margin: 0;
}

#page_container {
  position: relative;
  height: calc(100% - 36px);
  width: 100%;
}

#ship_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

#top_nav {
  top: -50px;
  height: 50px;
  width: 150px;
}

#bottom_nav {
  bottom: -50px;
  height: 50px;
  width: 150px;
}

#left_nav {
  left: -50px;
  height: 150px;
  width: 50px;
}

#right_nav {
  right: -50px;
  height: 150px;
  width: 50px;
}

.nav_links {
  position:absolute;
  display: block;
  text-align: center;
}

.direction_guides {
  position: absolute;
  text-align: center;
  width: 150px;
}

#top_guide {
  top: -80px;
}

#right_guide {
  right: -142px;
  top: 62px;
  transform: rotate(90deg);
}

#bottom_guide {
  bottom: -80px;
}

#left_guide {
  left: -142px;
  top: 62px;
  transform: rotate(-90deg);
}

#nav_dial {
  position: relative;
  right: 52px;
  bottom: 52px;
  z-index: -1;
}

#ship {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 140px;
  width: 140px;
}

#resources {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 150px;
  bottom: -100px;
}

#he3 {

}

#currency {

}

.planets {
  position: absolute;
  width: 30%;
  height: 40%;
  max-width: 450px;
  padding: 10px;
  border: 3px solid rgb(68, 135, 175);
  border-radius: 25px;
  background-color: rgba(255,255,255,0.25)
}

#planet1 {
  top: 20px;
  left: 20px;
}

#planet2 {
  top: 20px;
  right: 20px;
}

#planet3 {
  bottom: 20px;
  right: 20px;
}

#planet4 {
  bottom: 20px;
  left: 20px;
}

.image_container {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.planets img {
  max-height: 250px;
  max-width: 250px;
}

#system {
  position: absolute;
  top: 20px;
  left: 40%;
  width: 20%;
  height: 50px;
  text-align: center;
  border: 3px solid rgb(68, 135, 175);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

#system h2 {
  margin: 0;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background-color: rgba(255, 255, 255, 0.0);
    amimation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background-color: rgba(255, 255, 255, 1);
    amimation-timing-function: ease-out;
  }
  80% {
    background-color: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    100% {
    background-color: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}
