@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 36px
}

nav div {
  display: inline-block;
}

h1 {
  display: inline-block;
  margin: 0;
}

#page_container {
  position: relative;
  height: calc(100% - 36px);
  width: 100%;
}

#ship_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

#top_nav {
  top: -50px;
  height: 50px;
  width: 150px;
}

#bottom_nav {
  bottom: -50px;
  height: 50px;
  width: 150px;
}

#left_nav {
  left: -50px;
  height: 150px;
  width: 50px;
}

#right_nav {
  right: -50px;
  height: 150px;
  width: 50px;
}

.nav_links {
  position:absolute;
  display: block;
  text-align: center;
}

#nav_dial {
  position: relative;
  right: 52px;
  bottom: 52px;
  z-index: -1;
}

#ship {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 140px;
  width: 140px;
}

.planets {
  position: absolute;
  width: 30%;
  height: 40%;
  max-width: 450px;
  padding: 5px;
}

#planet1 {
  top: 20px;
  left: 20px;
}

#planet2 {
  top: 20px;
  right: 20px;
}

#planet3 {
  bottom: 20px;
  right: 20px;
}

#planet4 {
  bottom: 20px;
  left: 20px;
}

.planets img {
  max-height: 300px;
  max-width: 300px;
}

#system {
  position: absolute;
  width: 20%;
  height: 50px;
  text-align: center;
  left: 40%;
}

#system h2 {
  margin: 0;
}
